<!doctype html>
<html>
<head>
    <title>Socket.IO chat</title>
    <style>
        * { margin: 0; padding: 0; box-sizing: border-box; }
        body { font: 13px Helvetica, Arial; background: #101010}
        #chatText { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%;}
        #m { background: #000; border-left: 10px solid #4dc71f; padding: 10px; width: 70%; font-size:60pt; margin-right: 0.5%; color: #4dc71f}
        button { width: 29%; background: rgb(130, 224, 255); border: none; font-size:60pt; padding: 10px; }
        #userSelect{background: #000; border-bottom: 3px dotted #529da4; padding: 10px; width: 84%; font-size:20pt; margin-right: 0.5%; color: #989fa2;
        }
        #curr{float: auto; font-size:40pt; color: rgb(130, 224, 255)}
        #logout{float: right; background-color: #ff917f; font-size:20pt; width: 15%;}
        #myHeader{background-color: #000000}
        #select{font-size:20pt; width: 15%;}
        #messages { list-style-type: none; margin: 0; margin-bottom: 30%; padding: 0; font-size:60pt}
        #messages li { padding: 5px 10px; }
        #messages li:nth-child(odd) { background: #101010; color: #4dc71f}
        #messages li:nth-child(even) { background: #282828; color: #4dc71f}
        .sticky {
            position: fixed;
            top: 0;
            width: 100%;
        }

        .sticky + .content {
            padding-top: 102px;
        }
    </style>
</head>
<body>
<div id="myHeader">
    <form action="logout">
        <label for="logout" id="curr">--> current chat: general</label>
        <button id="logout">Logout</button>
    </form>
    <form action="selectUser" method="post" id="selectUserForm">
        <input type="text" name="username" value="" autocomplete="off" id="userSelect" placeholder="select user"/>
        <button type="submit" id="select">Select</button>
    </form>

</div>
<ul id="messages"></ul>

<form action="" id="chatText">
    <input id="m" autocomplete="off" /><button type="submit">Send</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
    $(function () {

        var user = ""
        document.cookie.split(';').forEach(cookie =>
        {
            if(cookie.includes("username"))
            {
                user = cookie.split('=')[1]
            }
        })

        var socket = io();
        $('#chatText').submit(function(e) {
            e.preventDefault(); // prevents page reloading
            socket.emit('chat message', {msg: $('#m').val(), user: user});
            $('#m').val('');
            return false;
        });

        socket.on('chat message', function(msg){

            // var user = ""
            // document.cookie.split(';').forEach(cookie =>
            // {
            //     if(cookie.includes("username"))
            //     {
            //         user = cookie.split('=')[1]
            //     }
            // })

            $('#messages').append($('<li>').text(msg));
            //alert( $.cookie("username") );
        });
    });
</script>

<script>
    window.onscroll = function() {myFunction()};

    var header = document.getElementById("myHeader");
    var sticky = header.offsetTop;

    function myFunction() {
        if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
        } else {
            header.classList.remove("sticky");
        }
    }
</script>
</body>
</html>